$include_AreaMeasurement2D: false;
$include_AreaMeasurement3D: false;
$include_Attachments: false;
$include_Attribution: false;
$include_BasemapGallery: false;
$include_BasemapLayerList: false;
$include_BasemapToggle: false;
$include_BinaryColorSizeSlider: false;
$include_Bookmarks: false;
$include_BuildingExplorer: false;
$include_ButtonMenu: false;
$include_ClassedColorSlider: false;
$include_ClassedSizeSlider: false;
$include_ColorPicker: false;
$include_ColorSizeSlider: false;
$include_ColorSlider: false;
$include_Compass: false;
$include_CoordinateConversion: false;
$include_DatePicker: false;
$include_Daylight: false;
$include_Directions: false;
$include_DirectLineMeasurement3D: false;
$include_DistanceMeasurement2D: false;
$include_Editor: false;
$include_ElevationProfile: false;
$include_Expand: false;
$include_Feature: false;
$include_FeatureContent: false;
$include_FeatureForm: false;
$include_FeatureMedia: false;
$include_FeatureTable: false;
$include_FeatureTemplates: false;
$include_FloorFilter: false;
$include_Grid: false;
$include_HeatmapSlider: false;
$include_Histogram: false;
$include_HistogramRangeSlider: false;
$include_IdentityForm: false;
$include_IdentityModal: false;
$include_ItemList: false;
$include_LayerList: false;
$include_Legend: false;
$include_LineOfSight: false;
$include_Measurement: false;
$include_NavigationToggle: false;
$include_OpacitySlider: false;
$include_Popup: false;
$include_Print: false;
$include_SaveLayer: false;
$include_ScaleBar: false;
$include_ScaleRangeSlider: false;
$include_Search: false;
$include_SelectionToolbar: false;
$include_ShadowCast: false;
$include_SizeSlider: false;
$include_Sketch: false;
$include_Slice: false;
$include_Slider: false;
$include_SnappingControls: false;
$include_Spinner: false;
$include_Swipe: false;
$include_TableList: false;
$include_TimePicker: false;
$include_TimeSlider: false;
$include_Tooltip: false;
$include_UtilityNetworkTrace: false;
$include_Weather: false;
$include_Zoom: false;
