/** main style entry point **/

/** map apps **/

@import "@vernonia/core/src/variables";

/////////
// js api
/////////

// esri widgets to include
$include_Attribution: true;
$include_BasemapToggle: true;
$include_LayerList: true;
$include_Legend: true;
$include_Popup: true;
$include_Search: true;

// @arcgis/core font paths for vite to resolve
$icomoon-font-path: "@arcgis/core/assets/esri/themes/base/icons/fonts/";
$calcite-fonts-path: "@arcgis/core/assets/esri/themes/base/fonts/fonts/";

// @arcgis/core sass
@import "@arcgis/core/assets/esri/themes/base/core";

/////////
// global
/////////
body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  background-color: var(--calcite-ui-background);
  color: var(--calcite-ui-text-1);
  font-size: 16px;
}

//////////////////////////////////////
// calcite and arcgis js api variables
//////////////////////////////////////

:root {
  --calcite-ui-brand: #{$brand};
  --calcite-ui-brand-dark: #{$brand-dark};
  --calcite-ui-brand-hover: #{$brand-hover};
  --calcite-ui-brand-press: #{$brand-press};
  --calcite-ui-text-link: #{$brand-hover};
  --calcite-link-blue-underline: #{$link-underline};
}

.calcite-theme-light {
  --calcite-ui-brand: #{$brand};
  --calcite-ui-brand-hover: #{$brand-hover};
  --calcite-ui-brand-press: #{$brand-press};
  --calcite-ui-text-link: #{$brand-hover};
  --calcite-link-blue-underline: #{$link-underline};
}

//////////////////////////
// arcgis js api overrides
//////////////////////////

// browsers have gotten weird with the focused view outline
.esri-view .esri-view-surface--inset-outline:focus::after {
  outline: none !important;
  outline-offset: 0;
}

// tighten up ui
.esri-ui-top-right {
  top: -5px;
  right: -5px;
}

// top left heading
.esri-ui-top-left {
  top: -5px;
  left: -5px;
}

.esri-ui-bottom-left {
  bottom: -5px;
  left: -5px;
}

.esri-ui-bottom-right {
  bottom: -5px;
  right: -5px;
}

// smaller basemap toggle
.esri-basemap-toggle {
  width: 59px;
  height: 59px;
  .esri-basemap-toggle__container,
  .esri-basemap-toggle__image {
    width: 54px;
    height: 54px;
    border-radius: var(--calcite-border-radius);
  }
}

/** no map apps **/

// @import "@esri/calcite-components/dist/calcite/calcite.css";

// @import "@vernonia/core/src/variables";

// :root {
//   --calcite-ui-brand: #{$brand};
//   --calcite-ui-brand-hover: #{$brand-hover};
//   --calcite-ui-brand-press: #{$brand-press};
//   --calcite-ui-text-link: #{$brand-hover};
//   --calcite-link-blue-underline: #{$link-underline};
// }

// .calcite-theme-light {
//   --calcite-ui-brand: #{$brand};
//   --calcite-ui-brand-hover: #{$brand-hover};
//   --calcite-ui-brand-press: #{$brand-press};
//   --calcite-ui-text-link: #{$brand-hover};
//   --calcite-link-blue-underline: #{$link-underline};
// }

// @import "@arcgis/core/assets/esri/themes/base/fonts/fonts.css";

// html, body {
//   width: 100%;
//   margin: 0;
//   padding: 0;
// }

// body {
//   font-family: var(--calcite-sans-family);
//   font-size: 16px;
// }
